.holder {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 400px;
}

.box {
  width: 60px;
  height: 60px;
  font-size: 30px;
  text-align: center;
  line-height: 60px;
  margin: 5px;
  color: black;
  font-weight: bold;
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}
